app = "bd-homepage-last"
primary_region = "nrt"

[env]
  JAVA_TOOL_OPTIONS = "-XX:MaxRAMPercentage=55 -XX:InitialRAMPercentage=15 -XX:+UseSerialGC -XX:MaxMetaspaceSize=96m"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[http_service.checks]]
    type = "http"
    path = "/api/health"
    interval = "20s"
    timeout = "5s"
    grace_period = "240s"
